<mat-toolbar style="background-color: #D85604;">
  <div class="example-button-container">
    <button  *ngIf='isAdmin' mat-mini-fab style="background-color: rgb(252, 249, 247);" (click)="back()" >
      <mat-icon style="color: #D85604;">home</mat-icon>
    </button>
  </div>
    <span class="fill-remaining-space"></span>
    <span>Application User Management</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button (click)="service.logout()">Logout</button>
</mat-toolbar><br><br><div class="search-div"><div class="search-div">
  <div class="button-row">

    <button style="background-color: #D85604; color: white;" *ngIf='isAdmin' mat-raised-button (click)="onCreate()">
      <mat-icon>add</mat-icon>Create
    </button>
  </div>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Quick Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="Data" matSort>
    <ng-container matColumnDef="employeeId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.employeeId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header><b>Name</b></mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.userName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="project">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Current Project</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.project}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="userRole">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.userRole}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions" *ngIf="isAdmin">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button [disabled]="!isAdmin" (click)="onEdit(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" [disabled]="!isAdmin" (click)="onDelete(row._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>